 h1 {
  color: rgb(10, 10, 10);
  text-align: center;
  margin: 4px;
  font-family: 'Arial', sans-serif;
  font-size: 50px;
}
   a {
    color: rgb(3, 18, 156);
    font-family: 'Arial', sans-serif;
    font-size: 40px;
  }
     h2 {
  text-align: left;
}
     h2 
        img {
  border-radius: 100px;
  display: cir;
  margin: 0 ;
  margin-right: auto;
}
       h3 {
    text-align: right;
}
       h3      
        img {
  border-radius: 100px;
  display: block;
  margin: 0 ;
  margin-left: auto;
}
         h4 {
    text-align: left;
  }
         h4   
        img {
  border-radius: 100px;
  display: block;
  margin: 0 ;
  margin-right: auto;
}
          h5 {
    text-align: right;
  }
          h5   
        img {
  border-radius: 100px;
  display: block;
  margin: 0 ;
  margin-left: auto;
}
            h6 {
    text-align: left;
  }
            h6 
        img {
  border-radius: 100px;
  display: block;
  margin: 0 ;
  margin-right: auto;
}
        img {
  width: 600px;
  height: 300px;
  border-radius: 100%;
  object-fit: cover;
  display: block;
  margin: 50px auto;
}

body {
  background: url('https://wallpaperaccess.com/full/2444994.jpg') repeat-x;
  background-size: cover;
  animation: scrollBackground 20s linear infinite;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}